body {
    background-color: rgb(229, 227, 220) ;
}


ul { 
    list-style-type: none;
}

.slogan {
    text-align: center; 
    margin-top: 15%;
    margin-right: 15%;
    vertical-align: middle;
    font-family: 'Amatic SC', cursive;
    font-size: 100pt ;
     
    }

    
.slogan_2 {
    text-align: center;
    margin-left: 15%;
    vertical-align: middle;
    font-family: 'Amatic SC', cursive;
    font-size: 100pt;
    

    }

    nav li {
        display: inline-block;
        float: right;
    }

    * { 
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
    }