body {
    background-color: #E5E3DC ;
    margin-bottom: 30px;
}



.slogan {
    text-align: center; 
    margin-top: 7%;
    margin-right: 20%;
    vertical-align: middle;
    font-family: 'Amatic SC', cursive;
    font-size: 120pt ;
     
    }

    
.slogan_2 {
    text-align: center;
    margin-left: 25%;
    vertical-align: middle;
    font-family: 'Amatic SC', cursive;
    font-size: 120pt;
    

    }

    .logo {
        padding-right: 30px;

    }


    * { 
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
    }

    .navbar {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;

    }

    nav a {
        color: black;

    }

    .navbar .nav-links ul {
        display: flex;
    
    }

    .navbar .nav-links ul li {
        margin-top: 12px;
        margin-right: 20px;
        display: inline-block;
        padding: 10px 20px;
        font-family: 'Amatic SC', cursive;
        font-size: 20pt;
    }

   
    .titrehaut h3 {
        font-family: Artic SC;
        color: black;
    }
    



    .main {
        margin: Opx 20px 20px 20px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    .cards .card {
        margin-right: 20px;
        cursor: pointer;
        margin-top: 50px;
        background-color: #D6D4C9;
        padding: 20px 20px 40px 20px;
       animation-duration: 1s;
       animation-iteration-count: infinite;
       transform-origin: bottom;
    }

   .cards .card:hover {
      animation-name: bounce;
      animation-timing-function: ease;
      box-shadow: 5px 5px 50px 18px rgba(0, 0, 0, 0.401);
   }

   @keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px) translateX(0px);}
  100% { transform: translateY(0); }
}


    .cards .card .card-body {
        font-family: 'Montserra' sans-serif;

    }


    .cards .card img {
        width: 350px   ;
        height: 400px;
        

    }


    .cards .card .card-header {
        display: flex; 
        justify-content: space-between;
        padding: 20px 10px 20px 10px;
        font-family: Amatic SC, cursive;
        font-size: 20pt;
        color: black;

    }



    .form-container {
        display: flex;
        justify-content: center;
        
        
        

    
    }

    .h2 {
     font-family: Amatic SC, cursive;
     font-size: 35pt;
     padding-bottom: 20px;
     display: flex;
     justify-content: right;
     padding-right: 30px;

    }

    .corps_formulaire {

        font-family: Amatic SC, cursive;
        font-size: 20pt;
        padding-top: 20pt;
        
    }


    .gauche {
        display: flex;
        flex-direction: column;
        
    }

    .droite {
        display: flex;
        flex-direction: column;

    }

    .form {
        background-color: #D6D4C9;
        padding: 50px;
        border-radius: 20px;
    }


    form .séparation {
        width: 100%;
        height: 1px;
        background-color: black;
    }

    form .corps_formulaire {
        display: flex;
        flex-wrap: wrap;
    }

    .boite {
        display: flex;
        flex-direction: column;
    }


    form .corps_formulaire .gauche .boite input {
        margin-top: 5px;
        padding: 10px;
        border: 1px solid #D6D4C9;
        width: 200px;
        
        
    }

    form .corps_formulaire .droite {
        margin-left: 50px;
        display: flex;
        flex-direction: column;

    }

    form .corps_formulaire .droite .boite {
        display: flex;
        flex-direction: column;
        height: 100%;
    


    }
    

    form .corps_formulaire .droite .boite textarea {
        margin-top: 5px;
        border:1px solid #D6D4C9;
        height: 340px;
        width: 550px;
        padding: 10px;
        
        
    }    

    input:focus {
        outline: none;
    }

    textarea:focus {
        outline: none;
        
        
    }

    .pied_formulaire button {
        margin-top: 10px;
        background-color: #D6D4C9;
        border: none;
        font-family: Amatic SC, cursive;
        font-size: 20pt;
        cursor: pointer;
        margin-right: 20px;
        border-style: none;
        
    }

    .pied_formulaire {
        display: flex;
        justify-content: right;
        
    }

    .pied_formulaire button:hover {
        transform: scale(1.1);
    }


    select {
        margin-top: 5px;
        padding: 10px;
        border: 1px solid #D6D4C9;
        width: 222px;
        outline: none;
        
    }

    .select {
        display: flex;
        flex-direction: column;
    }


    .fiche_produit {
        display: flex;
        justify-content: center;
    }


    .corps_fiche {
        display: flex;
        flex-wrap: wrap;
       
    }

    .left {
        display: flex;
        padding: 10px 50px 50px 100px;
     
    }


    .right {
        display: flex;
        flex-direction: column;
        margin-right: 100px;
       
        

    }

    .ligne {
        
        height: 1px;
        background-color: black;
        margin-left: 100px;
        
    }

    
   
   .image_produit img {
    height: 600px;
    border-radius: 10px;
   }
   

   .description {
    padding: 50px;
    
   }
   
   h3 {
    font-family: Amatic SC, cursive;
    font-size: 50pt;
    text-align: center;
    margin-left: 70px;
   }

   .right a button {

    height: 50px;
    width: 300px;
    margin-left: auto;
    background-color: #D6D4C9;
    border: none;
    font-family: Amatic SC, cursive;
    font-size: 20pt;
    cursor: pointer;
    
    

   }

   .right a {
    margin-left: auto;
   }

   .right p {
    text-align: justify;
    margin-left: 100px;
    font-size: 13pt;
    font-family:'Montserra', sans-serif;
    line-height: 40px;
    

   }

   .detail_prix p {

    
    margin-left: auto;
    font-family: 'Montserra', sans-serif;
    font-style: italic;
    font-size: 11pt;
    height: 50px;
    width: 150px;

   }

   
   .right .detail_prix p {
    margin-top: 90px;
   }

   .description_reining {
    padding: 30px;

   }

   .description_cutting {
    padding: 20px;
   }

   .description_show {
    padding: 25px;
   }

   .description_bride {
    padding-bottom: 150px;
    margin-top: 30px;
   }

   .image_produit_bride img {
    height: 600px;
    border-radius: 10px;
    margin-top: 20px;
   }

   .image_produit_sidepull img {
    height: 600px;
    border-radius: 10px;
    margin-top: 30px;
   }


   .description_sidepull {
    padding-bottom: 20px;
    margin-top: 30px;
   }


   .description_sg {
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 90px;
   }


   .image_produit_sg img {
    height: 580px;
    border-radius: 10px;
   
   }

   .left_sg {
    display: flex;
    padding: 10px 50px 0px 100px;
    
    
}

.image_produit_sg img {
    height: 580px;
    border-radius: 10px;
   
   }

   .left_sp {
    display: flex;
    padding: 10px 50px 0px 100px;
    
    
}

.description_hackamors {
    margin-top: 30px;
    margin-bottom: 0px;
   }

 